<%= form_for(:search, class: 'form-inline', url: users_path, method: :get, remote: true) do |form| %>
  <div class="form-group">
    <%= form.label :dob %>
    <%= form.text_field :dob, class: 'form-control', data: { behavior: 'daterangepicker' }, value: dob_from_parameters %>
  </div>
  <%= form.submit "Search", class: 'btn btn-success' %>
<% end %>

